<h1>PROFILE! FOR ALL THINGS PROFILE</h1>





<h1>Hello, {{user.username}}!</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos debitis accusantium neque, veniam eos repudiandae delectus facere at nam soluta dolorum numquam est itaque porro ullam, voluptas doloribus eligendi unde vitae nulla quibusdam deleniti cumque dolorem reiciendis? Consequuntur, quam in!</p>




<div class="button">
  <form action="/user/update">
  <button>Edit</button>
  </form>
  <form action="/user/delete" method="POST">
    <button>Delete Account</button>
  </form>
</div>